# exclude everything
.DS_Store
papers/*
trained_all_models/*
FixMatch/*

Task1_pseudoLabeling/data/*
Task1_pseudoLabeling/__pycache__
Task1_pseudoLabeling/model/__pycache__
Task1_pseudoLabeling/model/.DS_Store
Task1_pseudoLabeling/temp/*
Task1_pseudoLabeling/trained_models/*

Task2_VAT/data/*
Task2_VAT/__pycache__
Task2_VAT/model/__pycache__
Task2_VAT/model/.DS_Store
Task2_VAT/temp/*
Task2_VAT/trained_models/*

Task3/data/*
Task3/__pycache__
Task3/model/__pycache__
Task3/model/.DS_Store
Task3/trained_models/*
Task3/temp/*

# exception to the rule
!Task1_pseudoLabeling/data/.gitkeep 
!Task2_VAT/data/.gitkeep
!Task3/data/.gitkeep